*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
}


#containerizq{
    /* border: solid green; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;


}
#mainbanner{
    /* border: solid violet; */
    margin-top: 2rem;
    padding: 6rem 12rem;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

#containerizq h2{
    font-size: 3.75rem;
}
#containerizq h1{
    font-size: 2.8rem;
}
#iphone{
    /* border: solid red 1px;  */
    height: 100%;
    width: 40%;
 }
#mobile{
    width: 36rem;
    position: absolute;
    right: 7vw;
    top: 20vh;
}


#guiones {
    display: none;
}
/*
@media only screen and (max-width: 375px) {
    #logo {
       display: none;
    }

    #guiones {
        display: block;
    }
} */



#banner{
    /* border: solid .3px; */
    width: 100%;
    height: 45%;
}

.deco{
    border: solid 0.1rem black;
    display: flex;
    height: 10px;
    align-items: center;
    justify-content: center;
    border: none;
}

.child{
    width: 86vw;
    height: 10px;
    border: solid;
    border: none;
    border-bottom: 0.1rem solid;

}

#menu{
    /* border: solid rgb(82, 77, 193) .1rem; */
    margin-top: 1.5rem;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 200px;
    height: 50px;
    margin-left: 3.75rem;
}

.lista{
    display: flex;
    /* border: solid; */
    gap: 3rem;
    list-style: none;
    width: 700px;
    justify-content: center;
    align-items: center;

}



.lista__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .1rem;

}

.lista__item--titulo {
    font-weight: bold;
    text-decoration: none;
    color: black;
}


.lista__item--description {
    font-size: .7rem;
}

.lista__boton {
    height: 2.8rem;
    width: 9rem;
    color:  #1eb4f5;
    background-color: white;
    border:  #1eb4f5 2px solid;
    font-size: 1rem;
    border-radius: 9px;
    margin-right: 60px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 10px 10px 0;
    cursor: pointer;
}


.lista__boton:hover,
.lista__boton:focus {
    background-color: #1eb4f5;
    color: #ffffff;
    border:#1eb4f5 2px solid ;
    transition: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.lista__boton:active{
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    transform: translateY(0);
}
.lista__boton:hover{
    transform: translateY(-2px);

}

#blanco{
   color: white;
   user-select: none;
   /* display: none; */
}

#searchingbar{
    border: 0.01rem solid #888888;
    height: 12%;
    width: 100%;
    margin-top: 1rem;
    display: flex;
}

.baritems{
    border: solid .1rem;
    height: 100%;
    width: 10%;


}
#mid{
    width: 25%;
    border: none;
    padding: .5rem;
}
#larger{
    width: 35%;
    border: none;
    text-overflow: ellipsis;
    padding: .5rem;
}

#larger::placeholder {
    text-overflow: ellipsis;
}

#calendar{
     width: 25%;
     border: none;
     padding: .5rem;
}
#buscador{
    width: 15%;
    border: none;
    background-color: #1eb4f5;
    color: white;
    font-weight: 600;

}
.divisores{
    border: solid 0.01rem;
    height: 100%;
    border: none;
    border-right: 0.01rem solid #888888;

}
#containerizq h2{
    font-size: 4.3rem;
    color: rgb(15,76,160);
}
#containerizq p{
    margin-top: 0.6rem;
}


#informacion{
    /* border: solid violet; */
    width: 100%;
    display: flex;
    color: white;
    background-color: rgb(37,33,97);
    height: 29rem;
    list-style: none;
    box-sizing: border-box;

}
.cartas{
    display: flex;
    flex-direction: column;
    width: 20%;
    list-style: none;
    font-size: 0.8rem;
    padding: 2rem;
    align-items: center;
    padding-top: 8.1rem;
}
#sub-main{
    /* border: solid; */
    width: 100%;
    height: 500px;
    background-color: rgb(250,251,251);

}
.prueba{
    list-style: none;
    margin-top: 0.7rem;
    opacity: 65%;
}

#buttonencontrar{
    background-color: rgb(37,33,97);
    height: 2.5rem;
    width: 12rem;
    border: none;
    border-radius: 0.25rem;
    margin-top: 1.5rem;
    color: white;
    font-size: .9rem;
    font-weight: lighter;
}
.consulta{
    list-style: none;
    /* border: solid; */
    display: flex;
    width: 17rem;
}
.check{
    /* border: solid; */
    display: flex;
    box-sizing: border-box;
    height: 14px;
    /* margin-top: px ; */
    margin-right: 0.1rem;
}
.palomita{
    /* border: solid violet; */
    width: 30rem;
    display: flex;
    gap: 0.3rem;
    margin-top: 2rem;
    font-size: 1.25rem;
}
.palomita li{
    /* border: solid; */
    width: 400px;
}


#agua p{
    position: absolute;
    bottom: 10px;
    left: 46.2%;
    font-size: .75rem;
    /* border: solid; */
    opacity: 60%;

}

#sub-main{
    /* border: solid; */
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 7rem;

}
#izq{
    /* border: solid violet; */
    height: 100%;
    width: 60%;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
#null{
    /* border: solid; */
    padding-left: 4rem;
}
#carousel{
    position: absolute;
    /* border: solid; */
    height: 100%;
    width: 60%;
    margin-left: 3.5rem;
    overflow: hidden;

}
#carousel img{
    height: 11rem;
}
#izq h2{
    font-size: 2.8rem;

}
.light{
    font-weight: 500;
    opacity: 60%;
}

#der{
   /* border: solid; */
   width: 437px;
   height: 400px;
   background-image: url(recursosimg/fesamedcare-consultation-doctor.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}
#dispoimg{
    /* border: solid 1px; */
    height: 50px;
    width: 328px;
    background-image: url(recursosimg/disponibles.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}
footer{
   height: 9rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: rgb(37,33,97);

}
#MarcaDeAgua img{
    height: 60px;
    /* border: solid; */
}
footer p{
    font-size: .7rem;
    color: white;
    margin-top: .5rem;
    /* border: solid; */
}
#global-carousel{
    /* border: solid red; */
    height: 100%;
    position: relative;
}
#global-carousel_img_one{
    position: absolute;
    height: 170px;
    right: 13rem;
    top: 4rem;
    width: 450px;
}
#global-carousel_img_two{
    position: absolute;
    height: 15%;
    left: .5rem;
    top: 4rem;
}


/* css carrusel inicio */
.slider-section img{
    width: 100%;
    height: 100%;
}

.slider-section{
    width: calc(100% / 2);
    height: 100%;
}

#global-carousel{
    position: relative;
    padding-left: 2rem;
    width: 500px;
    height: 170px;
    overflow: hidden;
}

#reseñaUno{
    /* border: solid 0.1rem; */
    width: 400px;
    height: 160px;
    margin-left: 1rem;
}
#reseñaDos{
    /* border: solid 0.1rem; */
    width: 400px;
    height: 160px;
    margin-left: 1rem;
}

.carousel{
    width: 200%;
    height: 100%;
    display: flex;
}

.btn-left,
.btn-right{
    display: flex;
    position: absolute;
    top: 50%;
    width: 1.5rem;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
}
.btn-left:hover,
.btn-right:hover{
    background-color: #939393d4;
    color: #ffffff;
}


.btn-left{
    left: 10px;
}
.btn-right{
    right: 10px;
}

/* css carrusel final */