* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

form {
    width: 800px;
    height: 400px;
    /* border: solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    height: 40px;
    width: 370px;
    border-radius: 0.313rem;
    padding-left: 0.625rem;
    border: 0.094rem solid rgb(193, 193, 193);
    margin-top: 1.25rem;
}

.boton {
    background-color: #1eb4f5;
    height: 45px;
    border: none;
    color: white;
    font-size: 0.938rem;
}

.boton:hover,
.boton:focus {
    background-color: #1eb4f5;
    color: #ffffff;
    border:#1eb4f5 2px solid ;
    transition: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.boton:active{
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    transform: translateY(0);
}
.boton:hover{
    transform: translateY(-2px);

}

#blueacc {
    font-weight: bold;
    text-decoration: none;
    color: rgb(61, 78, 180);
}

button {
    background-color: white;
    color: rgb(61, 78, 180);
    border-radius: 5px;
    border: 0.063rem solid rgb(92, 194, 235);
    height: 25px;
    padding: .3rem;
}

#toplogin {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    font-size: 0.938rem;
    width: 370px;

}
#butoon {
    display: flex;
    justify-content: flex-end;
    width: 100px;

}
* {
    margin: 0;
    padding: 0;
}
#menu{
    /* border: solid rgb(82, 77, 193) .1rem; */
    margin-top: 1.5rem;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
}
.lista{
    display: flex;
    /* border: solid; */
    gap: 3rem;
    list-style: none;
    width: 700px;
    justify-content: center;
    align-items: center;

}
.logo{
    width: 200px;
    height: 50px;
    margin-left: 3.75rem;
}
.lista__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .1rem;

}

.lista__item--titulo {
    font-weight: bold;
    color: black;
}


.lista__item--description {
    font-size: .7rem;
}

.lista__boton {
    height: 2.8rem;
    width: 9rem;
    color:  #1eb4f5;
    background-color: white;
    border:  #1eb4f5 2px solid;
    font-size: 1rem;
    border-radius: 9px;
    margin-right: 60px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 10px 10px 0;
    cursor: pointer;
}


.lista__boton:hover,
.lista__boton:focus {
    background-color: #1eb4f5;
    color: #ffffff;
    border:#1eb4f5 2px solid ;
    transition: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.lista__boton:active{
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    transform: translateY(0);
}
.lista__boton:hover{
    transform: translateY(-2px);

}


#blanco{
   color: white;
   user-select: none;
   /* display: none; */
}
.deco{
    border: solid 0.1rem black;
    display: flex;
    height: 10px;
    align-items: center;
    justify-content: center;
    border: none;

}
a{
    list-style: none;
}

.child{
    width: 86vw;
    height: 10px;
    border: solid;
    border: none;
    border-bottom: 1.7px solid;

}
input {
    height: 50px;
    width: 370px;
    border-radius: 0.313rem;
    padding-left: 0.625rem;
    border: 0.094rem solid rgb(193, 193, 193);
    margin-top: 1.25rem;
}



#container {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 6rem 0;
}

#accblue {
    font-weight: bold;
    text-decoration: none;
    color: rgb(61, 78, 180);
}

button {
    background-color: white;
    color: rgb(61, 78, 180);
    border-radius: 0.313rem;
    border: 1px solid rgb(92, 194, 235);
    height: 25px;
}

#toplogin {
    /* border: solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    font-size: 0.938rem;
    width: 370px;

}
#butoon {
    display: flex;
    justify-content: flex-end;

    width: 100px;

}
#informacion{
    /* border: solid violet; */
    width: 100%;
    display: flex;
    color: white;
    background-color: rgb(37,33,97);
    height: 29rem;
    list-style: none;
    box-sizing: border-box;

}
.cartas{
    display: flex;
    flex-direction: column;
    width: 20%;
    list-style: none;
    font-size: 0.875rem;
    padding: 2rem;
    align-items: center;
    padding-top: 8.125rem;
}
footer{
    height: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(37,33,97);
 
}
footer p{
    font-size: .7rem;
    color: white;
    margin-top: .5rem;
    /* border: solid; */
}
.prueba{
    list-style: none;
    margin-top: 0.7rem;
    opacity: 65%;
}
#MarcaDeAgua img{
    height: 60px;
    /* border: solid; */
}
a{
    text-decoration:none;
}